<!--
* File:         button-form.component.html
* Author:       Brennan Saul
* Description:  The html template for the button-form component

* Edit history:
*
* Editor			Date				Description
* ======			========		===========
* Saul			  03/16/17		updated
* Saul        03/21/17    Self sufficient adding to the Db
-->


<!-- #form defines a template reference variable: now we can easily
reference the form using the form variable. then bind to the ngForm
directive-->

<!-- submit: submits and refreshes the page -->
<!-- ngSubmit: does not refresh tht page -->
<form #form=ngForm (ngSubmit)="onSubmit()" *ngIf="active">
  <!-- macAddr Address -->
  <div class="form-group" [ngClass]="{ 'has-error': macAddr.invalid && macAddr.touched }">
    <label for="macAddr">Button MAC Address</label>
    <input type="text" class="form-control" name="macAddr" required
    [(ngModel)]="newButton.macAddr" #macAddr="ngModel" placeholder="ex: 12:34:56:78:90">

    <!-- Shows "Required" if macAddr field is empty & been touched -->
    <span style="color:red" class="help-block"
    *ngIf="macAddr.invalid && macAddr.touched"> Required </span>
  </div>

  <!-- description field -->
  <div class="form-group" [ngClass]="{ 'has-error': description.invalid && description.touched }">
  <label for="description">Description</label>
    <input type="text" class="form-control" name="description" required
    [(ngModel)]="newButton.description" #description="ngModel" placeholder="ex: toilet paper, first floor">

    <!-- Shows "Required" if description field is empty -->
    <span style="color:red" class="help-block"
    *ngIf="description.invalid && description.touched"> Required </span>
  </div>

  <button class="btn btn-danger" [routerLink]="['/buttons']">Cancel</button>
  <!-- Button is disabled if form=invaild & been touched -->
  <button type="button" (click)="addButton(newButton.macAddr, newButton.description)" class="btn btn-primary"
  [routerLink]="['/buttons']" [disabled]="form.invalid">
    Add Button
  </button>
