<div *ngIf="buttons">
    <h2>Assign Buttons</h2>
    <div>
        <label>Unassigned MAC addresses:</label>
        <select name="macAddr" [(ngModel)]="newButton.macAddr">
            <option *ngFor="let button of buttons" [value]="button.macAddr">
            {{ button.macAddr }}
            </option>
        </select>
    </div>
    <div>
        <label>Description:</label>
        <input [(ngModel)]="newButton.description" placeholder="Description" />
    </div><br>
    <button class="btn btn-info" (click)="goBack()">Cancel</button>
    <button class="btn btn-primary" (click)="assignButton(newButton.macAddr, newButton.description)"
    [routerLink]="['/buttons']">Assign Button</button>
</div>
