<!--  File:         button-form.component.html
      Author:       Brennan Saul
      Description:  The html template for the button-form component
-->


<!-- #form defines a template reference variable: now we can easily
reference the form using the form variable. then bind to the ngForm
directive-->

<!-- submit: submits and refreshes the page -->
<!-- ngSubmit: does not refresh tht page -->
<form #form=ngForm (ngSubmit)="onSubmit()" *ngIf="active">

  <!-- If the form is valid -->
  {{ form.valid }}

  <!-- buttonId Address -->
  <div class="form-group" [ngClass]="{ 'has-error': buttonId.invalid && buttonId.touched }">
    <label for="buttonId">Button Id</label>
    <input type="text" class="form-control" name="buttonId" required
    [(ngModel)]="newButton.buttonId" #buttonId="ngModel" placeholder="buttonId">

    <!-- Shows "Required" if first name field is empty & been touched -->
    <span style="color:red" class="help-block"
    *ngIf="buttonId.invalid && buttonId.touched"> Required </span>
  </div>

  <!-- buttonDescription field -->
  <div class="form-group" [ngClass]="{ 'has-error': buttonDescription.invalid && buttonDescription.touched }">
  <label for="buttonDescription">Description</label>
    <input type="text" class="form-control" name="buttonDescription" required
    [(ngModel)]="newButton.buttonDescription" #buttonDescription="ngModel" placeholder="Description:">

    <!-- Shows "Required" if first name field is empty -->
    <span style="color:red" class="help-block"
    *ngIf="buttonDescription.invalid && buttonDescription.touched"> Required </span>
  </div>

  <!-- Button is disabled if form=invaild & been touched -->
  <button type="submit" class="btn btn-lg btn-block btn-primary"
  [disabled]="form.invalid">
    Add Button
  </button>
