<!--
* File:	     button-assign-form.component.html
* Author:	   Andy Sapper
* Description:The html template for the button-assign-form component

* Edit history:
* Editor	        Date            Description
* ======	        ========        ===========
* Sapper	        03/16/17        File created
-->

<!-- submit: submits and refreshes the page -->
<!-- ngSubmit: does not refresh tht page -->
<form #form=ngForm (ngSubmit)="onSubmit()" *ngIf="active">
	<!-- List of unassigned buttons -->
	<div class="form-group">
        <label for="macAddresses">Unassigned buttons</label>
        <select class="form-control" required>
            <option *ngFor="let button of unassignedButtons" [value]="button">{{ button }}</option>
        </select>
    </div>

    <!-- description field -->
    <div class="form-group">
    <label for="description">Description</label>
        <input type="text" class="form-control" name="description" required
        [(ngModel)]="newButton.description" #description="ngModel" placeholder="Description:">

        <!-- Shows "Required" if description field is empty -->
        <span style="color:red" class="help-block"
        *ngIf="description.invalid && description.touched"> Required </span>
    </div>

    <!-- Button is disabled if form=invaild & been touched -->
    <button type="submit" class="btn btn-lg btn-block btn-primary">Assign Button</button>
</form>
