<div *ngIf="buttons.length > 0; else noButtonsPanel">
    <h2>Assign Buttons</h2>
    <div>
        <label>Unassigned MAC addresses:</label>
        <select name="macAddr" [(ngModel)]="newButton.macAddr">
            <option *ngFor="let button of buttons" [value]="button.macAddr">
            {{ button.macAddr }}
            </option>
        </select>
    </div>
    <div>
        <label>Description:</label>
        <input [(ngModel)]="newButton.description" placeholder="Description" />
    </div><br>
    <button class="btn btn-danger" (click)="goBack()">Cancel</button>
    <button class="btn btn-primary" (click)="assignButton(newButton.macAddr, newButton.description)">Assign Button</button>
</div>

<ng-template #noButtonsPanel>
<h3>No unassigned buttons :(</h3>
<button class="btn btn-info" (click)="goBack()">Go Back</button>
</ng-template>
