<!-- Bootstrap Table -->
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title pull-left">Buttons Registered: <span class="badge">{{ buttonList?.length }} </span></div>
      <!--<div class="panel-title pull-right">Bottons Registered: {{ buttonList?.length }}</div> -->
      <div class="clearfix"></div>
    </div>

    <!-- Table for the buttons in the mongo DB -->
    <table class="table">
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody *ngIf="buttonList?.length > 0">
            <tr *ngFor="let button of buttonList">
                <td>{{ button.macAddr }}</td>
                <td>{{ button.buttonDescription }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="buttonList?.length < 1" class="text-center">
            No buttons have been registered to the system.
        </tbody>

    </table>
  </div>
