<!--
* File:           button-table.component.html
* Author:         Brennan Saul
* Description:    HTML for the ButtonTableComponent <button-table>
*
* Edit history:
*
* Editor            Date                Description
* ======            ========        ===========
* Saul            03/15/17      File created
* Saul        03/21/17    Self contained and calls the ButtonFormComponent
* Saul        03/22/17    Removed unnecessary code and removed clickTimestamp
-->

<div>

  <!-- Title -->
  <h3>FLIC Buttons</h3>

  <!-- Bootstrap Table -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title pull-left">Buttons Registered: <span class="badge">{{ buttonList?.length }} </span></div>
      <div class="panel-title pull-right">
        <!-- Button to enable add button form -->
        <a class="btn btn-primary" [routerLink]="['/buttons/new']">Add FLIC Button</a>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Table for the buttons in the mongo DB -->
    <table class="table">
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>Description</th>
                <th>
                  Edit / Delete
                </th>
                <th>Active?</th>
            </tr>
        </thead>
        <tbody *ngIf="buttonList?.length > 0">
            <tr *ngFor="let button of buttonList">
                <td>{{ button.macAddr }}</td>
                <td>{{ button.description }}</td>
                <td>
                    <button type="button" [routerLink]="['/buttons', button.macAddr]" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  <button type="button" (click)="deleteButton(button.macAddr)" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
                <td><input type="checkbox" name="isActive" [(ngModel)]="button.isActive" disabled></td>
            </tr>
        </tbody>
        <tbody *ngIf="buttonList?.length < 1" class="text-center">
            No buttons have been registered to the system.
        </tbody>

    </table>
  </div>
</div>
