<!--
 * File: employee-detail.component.ts
 * Author: Brennan Saul
 * Description: HTML template for the EmployeeDetailComponent
 *
 * Edit history:
 *
 * Editor       Date           Description
 * ======       ========       ===========
 * Saul         03/28/17       File created
 * Saul         03/29/17       oEmail added to the function
 -->
<div *ngIf="employee">
  <h2>Employee #{{ employee.email }}</h2>

  <form #form=ngForm (ngSubmit)="onSubmit()">

    <!-- Email -->
    <div class="form-group" [ngClass]="{ 'has-error': email.invalid && email.touched }">
    <label for="email">Email</label>
      <input type="text" class="form-control" name="email" required
      [(ngModel)]="employee.email" #email="ngModel" value="employee.email">

      <!-- Shows "Required" if email field is empty -->
      <span style="color:red" class="help-block"
      *ngIf="email.invalid && email.touched"> Required </span>
    </div>

    <!-- First name -->
    <div class="form-group" [ngClass]="{ 'has-error': firstName.invalid && firstName.touched }">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstName" required
      [(ngModel)]="employee.profile.firstName" #firstName="ngModel" value="employee.profile.firstName">

      <!-- Shows "Required" if first name field is empty & been touched -->
      <span style="color:red" class="help-block"
      *ngIf="firstName.invalid && firstName.touched"> Required </span>
    </div>

    <!-- Last name -->
    <div class="form-group" [ngClass]="{ 'has-error': lastName.invalid && lastName.touched }">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" required
      [(ngModel)]="employee.profile.lastName" #lastName="ngModel" value="employee.profile.lastName">

      <!-- Shows "Required" if last name field is empty & been touched -->
      <span style="color:red" class="help-block"
      *ngIf="lastName.invalid && lastName.touched"> Required </span>
    </div>

    <!-- role -->
    <div class="form-group" [ngClass]="{ 'has-error': role.invalid && role.touched }">
      <label for="role">Role</label><br/>
      <select [(ngModel)]="employee.role" name="role" required #role="ngModel"
      placeholder="Select a Role">
         <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>

      <!-- Shows "Required" if first name field is empty -->
      <span style="color:red" class="help-block"
      *ngIf="role.invalid && role.touched"> Required </span>
    </div>

  </form>
    <br>

    <!-- Back button -->
    <button class="btn btn-info" (click)="goBack()">Back</button>


    <!-- Save Button -->
    <!-- Employee is disabled if form=invaild & been touched -->
    <button type="button" (click)="updateEmployee(oEmail, employee.email,
    employee.profile.firstName, employee.profile.lastName, employee.role)"
    class="btn btn-primary"
    [disabled]="form.invalid">Save</button>
</div>
