<!-- Bootstrap Table -->
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title pull-left">Open tasks: <span class="badge">{{ taskList?.length }} </span></div>
      <div class="clearfix"></div>
    </div>

    <!-- Table for the open tasks in the DB -->
    <table class="table">
        <thead>
            <tr>
                <th>Button</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody *ngIf="taskList?.length > 0">
            <tr *ngFor="let task of taskList">
                <td>{{ task.button }}</td>
                <td>{{ task.employee }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="taskList?.length < 1" class="text-center">
						There are no open tasks in the system.
        </tbody>
    </table>
</div>
