<!-- Bootstrap Navbar -->

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PushStock</a>
            </div>
            <!-- nav bar tabs -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/home/tasks">Tasks</a></li>
                    <li><a routerLink="/home/buttons">Buttons</a></li>
                    <li><a *ngIf="admin" routerLink="/home/employees">Employees</a></li>
                    <li><a href="#" (click)=logout()>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
