<!--
* File:        component.html
* Author:       Brennan Saul, Andy Sapper
* Description:  html for the AppComponet <app-root>
*
* Edit history:
*
* Editor			Date				Description
* ======			========		===========
* Saul			  03/15/17		Refactored
* Saul        03/16/17    Employee section added
* Saul        03/21/17    no longer passes buttonList to button table because
*                         the button table component calls the API by its self
-->

<!-- Bootstrap Navbar -->
<header>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PushStock</a>
        </div>
          <!-- nav bar tabs -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" (click)=changeToHomeView()> Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
            <a href="#" (click)=changeToButtonView()>Buttons</a>
            </li>
            <li>
            <a href="#" (click)=changeToWorkerView()>Workers</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</header>


<main>

  <!-- Displays if home tab selected -->
  <div class="jumbotron" *ngIf="welcomeView">Login</div>

  <!-- Displays if button tab selected -->
  <div class="container" *ngIf="buttonView">
    <!-- Button Table Component: array of buttons passed to the table
         includes the ButtonFormComponent -->
    <button-table>Loading...</button-table>
  </div>

    <!-- Worker view displayed if selected -->
    <div class="jumbotron" *ngIf="workerView">
      <a href="#" class="btn btn-primary" (click)="onEmployeeCreated(email, password, firstName, lastName, role)">Add Employee</a>
      <employee-table [employeeList]="employees">Employee Table Loading...</employee-table>
    </div>


</main>

<footer class="text-center">
  Copyright &copy; 2016
</footer>
