<!-- Bootstrap Navbar -->
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <span><img src="https://lh6.googleusercontent.com/ul_M9BlGAMF-jlHAFJgp3F_VE0_yJoLG8oOt9-3pl0yg5-WED7t5iovCf65PUrHOir47yijRkUUU7Fg=w1963-h996"  style="padding-bottom: 5px;" width="35" height="35">
                PushStock</span></a>
            </div>
            <!-- nav bar tabs -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav">
                    <li [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.in"><a *ngIf="!unassigned" routerLink="./tasks">Tasks</a></li>
                    <li [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.in"><a *ngIf="admin && !unassigned" routerLink="./buttons">Buttons</a></li>
                    <li [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.in"><a *ngIf="admin && !unassigned" routerLink="./employees">Employees</a></li>
                    <li><a href="#" (click)=logout()>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="col-md-6 col-md-offset-3">
    <h2 *ngIf="!unassigned" style="color:red">You are unauthorized to view this content. Please see your administrator if you believe this is a mistake.</h2>
    <h2 *ngIf="unassigned" >You have not been assigned a role by your administrator. Please contact them to gain access to your portal.</h2>
</div>